@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0c31a6;
  --secondary: #7aa6cf;
}

html {
  font-family: var(--font-inter);
}

body {
  @apply text-white bg-gra-1 font-sans;
}

@layer component {
  .bg-gra-1 {
    background-image: linear-gradient(to bottom, var(--primary), #f6f4ef);
  }

  .bg-gra-2 {
    background-image: linear-gradient(to right, var(--secondary), #00165a);
  }
}
